<!DOCTYPE html>
<htmL lang='en'>
    <head>
        <title>Generalstores</title>
    </head>
    <body>
        <h1>Welcome</h1>
        <h1>This General Store is near to my home</h1>
        <h1>The name of the General store is Gopi General Stores</h1>
        <h1>In that general store every item is available at decent price</h1>
        <h1>It provides free home delivery of groceries to home of the customer</h1>
        <h1>And at the time of festivals the discount on each and every item is high</h1>
    </body>
</htmL>