<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Places Around My Home</title>
    </head>
    <body>
        <h1>Places near by my home</h1>
        <img src='/static/images/location.png' alt="location" height="800" width="1800" usemap="#MapNew">
        <MAP name="MapNew">
            <area shape="poly" alt="Myhome" coords="997,244,1039,187,1137,241,1145,220,1202,252,1154,338,1031,576,888,445" href= "/home/Myhome" Title="Myhome">
            <area shape="poly" alt="Milkfarm" coords="1385,543,1348,632,1419,674,1462,577,1300,517,1269,597,1345,630" href="/home/Milkfarm" Title="Milkfarm">
            <area shape="poly" alt="Tutioncentre" coords="624,134,584,216,685,285,734,191" href="/home/Tutioncentre" Title="Tutioncentre">
            <area shape="poly" alt="Rationshop" coords="824,493,730,621,822,673,900,553"  href="/home/Rationshop" Title="Rationshop">
            <area shape="poly" alt="Generalstores" coords="395,175,355,250,428,294,472,220"  href="/home/Generalstores" Title="Generalstores">
        </MAP>


    </body>
</html>