<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Rationshop</title>
    </head>
    <body>
        <h1>Welcome</h1>
        <h1>This Rationshop is near to my home</h1>
        <h1>this rationshop distributes rice, oil, and some groceries to poor people who are having rationcard</h1>
        <h1>this rationcards are given to the people who are below poverty line by government</h1>
        <h1>beacase of these rationshops poor people are leading their life in a easy way</h1>
    </body>
</html>