<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Tutioncentre</title>
    </head>
    <body>
        <h1>Welcome</h1>
        <h1>This is my tutioncentre which is near to my home</h1>
        <h1>The name of the tution centre is Raman Institute</h1>
        <h1>There are nearly 50 students in this tution centre</h1>
        <h1>and there are nearly 5 teachers in this tution centre</h1>
        <h1>in this institute they teach students regarding studies and technical skills for better future</h1>
    </body>
</html>
